body{
    background-color:grey;
    background-image: url("public/images/schoolbag.jpg");
    background-attachment: fixed;
    background-attachment: no-repeat;
}

h3{
    text-align: center;
    color:brown;
    margin: 0.2cm 0 0.1cm 0;
    font-family: cursive;
    letter-spacing: 0.1cm;
    text-decoration: wavy;
}

 h1{
    text-align: center;
    font-weight: bolder;
    color: purple;
    margin-top: 0.1cm;
    margin-bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-decoration: underline double 5px darkolivegreen;
}

#clear{
    color: red;
    background-color: aquamarine;
}
#clear:hover{
    background-color: red;
    transform: scale(1.08);
    color: aquamarine;
    
}
table{
    display: table;
    table-layout: fixed;
}
button{
    width: 100%;
    font-size: 1.5cm;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: purple;
    background-color: grey;
}
#refr{
    background-color: black;
    color: blueviolet;
}

#refr:hover{
    background-color: purple;
    transform: scale(1.08);
    color: black;   
}

.keypad{
    height: 450px;
    width: 240px;
    margin-top: 20px;
    margin-left: 16.95cm;
}
.container{
    text-align: center;
}

button:hover{
    background-color: purple;
    transform: scale(1.08);
    color: black;
    
}

.operators{
    border-radius: 50%;
}

#screen{
    padding: 40px 40px;
    margin-top: 30px;
    background-color: lightblue;
    border: 10px;
    border-color: black;
}
#pow{
    font-size:1.3cm;
}

#reset{
    margin-right: 15cm;
    font-weight: bolder;
    background-color: black;
    color: blueviolet;
}

#reset:hover{
    background-color: purple;
    transform: scale(1.08);
    color: black;   
}


footer{
float: right;
background-color: white;
font-weight: bolder;
}